.bash_history
.bloop/
.cache
.config
.ipynb_checkpoints
.ipython
.jars
.jupyter/migrated
.local
.metals/
tutorial/data/central_park_weather
tutorial/data/green_tripdata
tutorial/data/uber_tripdata
tutorial/data/yellow_tripdata
tutorial/data/output
spark-warehouse